@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 218, 207);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
#text{
  color:rgb(202, 51, 152);
}
div {
  position: absolute;
  bottom: 20px;
  background: rgba(170, 112, 112, 0.103);
  padding: 10px 20px;
  font-size: 18px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: rgba(224, 133, 103, 0.507);
  border: none;
  text-align: center;
}

input:focus {
  outline: none;
}