@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, rgba(250, 218, 207, 0.8), rgba(220, 230, 250, 0.8));
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: #333;
}
.container {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
#text {
  font-size: 2.5rem;
  color: rgb(202, 51, 152);
  margin-bottom: 20px;
  transition: transform 0.2s;
}

#text:hover {
  transform: scale(1.05);
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(170, 112, 112, 0.2);
  padding: 10px 20px;
  border-radius: 10px;
}

input {
  width: 60px;
  padding: 5px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  background-color: rgba(224, 133, 103, 0.5);
  transition: background-color 0.3s;
}

input:focus {
  outline: none;
  background-color: rgba(224, 133, 103, 0.8);
}